#navbar-logo-home{
    font-size: 40px;
    font-family: 'Faster One', cursive;
    margin-left: 40px;
}
.first-div{
    height: 80vh;
    color: white;
    background:linear-gradient( rgba(0,0,0,0.4),rgba(0,0,0,0.4) ),url(../images/bgimage2.jpg);
    /* background:url(../images/bgimage2.jpg); */
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.intotxt{
    padding-top: 35vh;
}
.h2awards{
    color: #ffffff;
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
}

.pdescribe{
    color: white;
    font-size: 23px;
}
.uploadbg{
    height: 100vh;
    color: white;
    background:linear-gradient( rgba(0,0,0,0.4),rgba(0,0,0,0.4) ),url(../images/upload.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.uploaddescription{
    margin-top: 17vh;
    /* background-color: rgba(1, 1, 34, 0.656);; */
    background-color: rgba(54, 54, 55, 0.656);;
    padding: 50px;
    border-radius: 20%;
}


.sumbua{
    background: red;
}